---
const { title, items, lang } = Astro.props;
---

<section>
  <h2>{title}</h2>

  {items.map((project) => (
    <article>
      <h3>{project.title}</h3>
      <p>{project.text}</p>

      <a href={`/${lang}/projects/${project.href.split("/").pop()}`}>
        View project →
      </a>
    </article>
  ))}
</section>
