---
interface Item {
  title: string;
  text: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props as Props;
---

<section class="services-list">
  <ul>
    {items.map((item) => (
      <li>
        <h3>{item.title}</h3>
        <p>{item.text}</p>
      </li>
    ))}
  </ul>
</section>
